<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/datatables.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/afnFiltering.js"></script>
<script src="/js/jquery.scrollTo.min.js"></script>
<script src="/js/dataTables.buttons.min.js"></script>
<script src="/js/buttons.print.js"></script>


<script>
  //Turn the page visible
  function initFadeIn() {
    $("#div_body").css("visibility","visible");
    $("#div_body").fadeIn(700);
    $("#loading").remove();
  }

  $(document).ready(function(){
    //Make the page visible
    initFadeIn();


    //setting the general table
    var generalTable = $('#generalTable').DataTable({
      dom: "<'row'>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-6'><'col-sm-1'B>>",
      "scrollX": true,
      "orderCellsTop": true,
      scrollY: '65vh',
      paging: false,
      scrollCollapse: true,
      headerOffset: 102,
      "orderFixed": [ 1, 'asc' ],
      "order": [[ 1, "asc" ], [ 0, "asc" ]],
      buttons: [
        {
          extend:'print',
          text: 'Print results',
          title: '',
          exportOptions: {
            stripHtml: false,
            columns: [0,1,2,3,4,5,6,7,8,9,10]
          },
          customize: function ( win ) {
            //Add title
            $(win.document.body).prepend('<p><h1>Antigenic peptides search results</h1></p>')

            //Remove the input fields of the headers
            $(win.document.body).find("input").each(function(){
              $(this).remove();
            });

            //Remove the information icon and extra information too
            $(win.document.body).find("th").each(function(){
              var string = $(this).text();
              var change = string.replace(/ ⓘ/g,'').replace(/min/g,'').replace(/Length/g,'').replace(/-/g,'');
              $(this).text(change);
              if ($(this).index() === 9){
                $(this).addClass('delete');
              }
            });

            //Remove link icon
            $(win.document.body).find("img").remove();

            //Remove dotted underline of the reference
            $(win.document.body).find("u").contents().unwrap();

            //Remove link
            $(win.document.body).find("a").contents().unwrap();

            //Reference related functions
            var counter = 1;
            $(win.document.body).append('<p><h4>References</h4></p>')

            $(win.document.body).find("td").each(function(){
              //Add the annotation for the reference
              if ($(this).index() === 8){
                $(this).append('<sup><b>'+counter+'</b></sup>');
              }

              //Change type value into text
              else if ($(this).index() === 1){
                var string = $(this).text();
                var change = string.replace(0,'Mutation').replace(1,'Tumor-Specific').replace(2,'Differentiation').replace(3,'Overexpressed');
                $(this).text(change);
              }

              //Append the full reference in the document
              else if ($(this).index() === 9){
                var reference = $(this).text();
                $(win.document.body).append('<p><b>' + counter + '</b>: ' + reference + '</p><br>');
                counter = counter +1;
                $(this).addClass('delete');
              }
            })

            //Remove the full reference column
            $(win.document.body).find(".delete").remove();
          }
        }
      ],
      "columnDefs": [
        {
          "targets":[1],
          "sortable": false
        },
        { "type": "num", "targets": 4 },
        {
          "targets": [ 1,9, 10 ],
          "visible": false,
          "searchable": true
        },
        { "orderData": [ 1, 0 ],    "targets": 0 },
        { "orderData": [ 1, 2 ],    "targets": 2 },
        { "orderData": [ 1, 3 ],    "targets": 3 },
        { "orderData": [ 1, 4 ],    "targets": 4 },
        { "orderData": [ 1, 5 ],    "targets": 5 },
        { "orderData": [ 1, 6 ],    "targets": 6 },
        { "orderData": [ 1, 7 ],    "targets": 7 },
        { "orderData": [ 1, 8 ],    "targets": 8 },
        { "width": "10%", "targets": 0 },
        { "width": "6%", "targets": 4 },
        { "width": "20%", "targets": 2 },
        { "width": "5%", "targets": [3,6]},
        { "width": "5%", "targets": 11},
        { "width": "15%", "targets": [5,7]}
      ],

      //Gives the border class to the row according to their type. Left broder color depends on CSS
      "rowCallback": function( nRow, aData, index ) {
        console.log(typeof aData[1]);
        if ( aData[1] === '0' )
        {
          $('td:first-child', nRow).addClass('border_mutation');
        }
        else if ( aData[1] === '1' )
        {
          $('td:first-child', nRow).addClass('border_tumor');
        }
        else if ( aData[1] === '2' )
        {
          $('td:first-child', nRow).addClass('border_diff');
        }
        else if ( aData[1] === '3' )
        {
          $('td:first-child', nRow).addClass('border_over');
        }
      },

      //Create the category row, done every time the datatable is drawn
      "drawCallback": function () {
        var api = this.api();
        var rows = api.rows( {page:'current'} ).nodes();
        var last= null;
        var colors = ["color:red","color:orange","color:green","color:blue"];
        var group_label = ["1. Mutation","2. Tumor-Specific","3. Differentiation","4. Overexpressed"];
        var color_attr = ["#DC3546","#FEC107","#27A844","#007AFF"];

        api.column(1, {page:'current'} ).data().each( function ( group, i ) {
          if ( last !== group) {
            $(rows).eq( i ).before(
              '<tr class="group" id="section'+(group)+'" color_attr='+color_attr[group]+'><td colspan="10"><span style='+colors[group]+'>'+group_label[group]+'</td></tr>'
            );
            last = group;
          }
        });
      }
    });


    //setting the potential table
    var potentialTable = $('#potentialTable').DataTable({
      dom: "<'row'>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-6'i><'col-sm-6'>>",
      "scrollX": true,
      "orderCellsTop": true,
      scrollY: '65vh',
      paging: false,
      scrollCollapse: true,
      headerOffset: 102,
      "order": [ 0, "asc" ],
      "columnDefs": [
        {
          "targets": [1],
          "visible": false
        },
        { "width": "5%", "targets": 2 }
      ]
    });


    //Event listener: display full reference when a reference is clicked by the user
    $('.ref_text').on('click', function () {
      var tr = $(this).closest('tr');
      var row = generalTable.row( tr );
      var data = row.data();

      if (data[9] !== ''){
        $('#fullref_text').text(data[9]);
        document.getElementById("ref_zone").style.visibility = 'visible';
      }
    });


    //Prevents sorting when clicking on an input field
    $('.filter').on('click', function(e){
      e.stopPropagation();
    });


    //Event listener: any key input in the column filter except HLA
    $('input.column_filter').on( 'keyup', function () {
      //Allow the use of * as wildcard; ( and ) instead of ^ and $ as delimiters (base ., ^ and $ from regex are still usable)
      var string = $(this).val().replace(/\*/g,'.').replace(/\(/g,'^').replace(/\)/g,'$');

      generalTable
        .columns($(this).attr('data-column'))
        .search(string,true,false,true)
        .draw();

      if ($(this).attr('data-column') !== "9"){
        //Clear the potential table if a research is done for any column except reference
        potentialTable
          .columns($(this).attr('0'))
          .search(string,true,false,true)
          .draw();
      } else {
        //Apply reference search on the potential table
        potentialTable
          .columns("0")
          .search(string,true,false,true)
          .draw();
      }
    });


    //Event listener: any key input in HLA filter (HLA must match completely the letters of the search)
    $('input.hla_filter').on( 'keyup', function () {
      var string = "";
      if ($(this).val() !== ""){
        string = "^" + $(this).val().replace(/\*/g,'.?') + "$"
      }
      generalTable
        .columns($(this).attr('data-column'))
        .search(string,true,false,true)
        .draw();

      //Clear the potential table
      potentialTable
        .columns($(this).attr('0'))
        .search(string,true,false,true)
        .draw();
    });


    //Event listener: redraw the table when there is a range input
    $('.range').keyup( function() {
      generalTable.draw();
    });


    //Event listener for the navbar buttons: change the colored nv
    $(".sectionbtn").click( function() {
      var selection;
      $('.sectionbtn').removeClass("active");

      switch(this.id){
        case "section0btn":
          $('#section0btn').addClass("active");
          selection = $( "#section0" );
          break;

        case "section1btn":
          $('#section1btn').addClass("active");
          selection = $( "#section1" );
          break;

        case "section2btn":
          $('#section2btn').addClass("active");
          selection = $( "#section2" );
          break;

        case "section3btn":
          $('#section3btn').addClass("active");
          selection = $( "#section3" );
      }
      $(".dataTables_scrollBody").scrollTo(selection);
    });


    //Event listener: scroll to the potential table
    $('#section4btn').click(function () {
      $('html, body').animate({
        scrollTop: $("#potentialSection").offset().top
      }, 200);
    });


    //Event listener: change category button highlight and navigation bar color depending on the category header position
    $(".dataTables_scrollBody").on('scroll', function() {
      document.getElementById("ref_zone").style.visibility = 'hidden';
      $('.group').each(function(){
        var sectionDistance = $(this).offset().top;
        if (sectionDistance < 550){
          $('.sectionbtn').removeClass("active");
          $('#'+this.id+'btn').addClass("active");
        }
      });
    });

    //Event listener: clear input button
    $("#reset_input").bind("click", function() {
      $("input[type=text], textarea").val("");
      generalTable
        .columns([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
        .search("",true,false,true)
        .draw();

      potentialTable
        .columns('0')
        .search("",true,false,true)
        .draw();
    });


    //Add margin to print button
    $('.buttons-print').each(function() {
      $(this).css('margin-top','7px');
    })


    //Apply Bootstrap tooltip style
    $('[data-toggle="tooltip"]').tooltip({
      trigger : 'hover'
    });
  });

</script>
<div id="loading">
  <p style="text-align:center">Loading... Please wait.</p>
</div>
<!-- Initial setup of the page -->
<div id="div_body" style="visibility: hidden">
  <!-- Category navigation bar -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbar_category">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a id="section0btn" section="section0" class="btn btn-sm btn-outline-danger sectionbtn"><b>Mutation</b></a>
        </li>
        <li class="nav-item" >
          <a id="section1btn" section="section1" class="btn btn-sm btn-outline-warning sectionbtn"><b>Tumor Specific</b></a>
        </li>
        <li class="nav-item">
          <a id="section2btn" section="section2" class="btn btn-sm btn-outline-success sectionbtn"><b>Differentiation</b></a>
        </li>
        <li class="nav-item">
          <a id="section3btn" section="section3" class="btn btn-sm btn-outline-primary sectionbtn"><b>Overexpressed</b></a>
        </li>
        <li class="nav-item">
          <a id="section4btn" class="btn btn-sm btn-outline-secondary">Potential</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a id="reset_input" class="btn btn-sm btn-outline-info"><b>Reset filters</b></a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- General Table -->
  <div id="table-container">
    <table id="generalTable" class="table-bordered" width="100%">
      <thead>
      <tr>
        <th data-toggle="tooltip" data-placement="top" data-html="true" title="Link to the Gene Card for the encoding gene <br>and/or the parent protein"><span id="geneTH">Gene/Protein ⓘ</span><br><input class="filter column_filter gene_filter" type="text" data-column="0" /></th>
        <th>Type</th>
        <th data-toggle="tooltip" data-placement="top" data-html="true" title="This column refers to different information depending of the gene:<br/>*Mutation category: Type of tumor which expresses the mutated gene<br/>*Differentiation category: Type of tumor which expresses the gene<br/>*Overexpressed category: Expression was described in the following NORMAL tissues (Click on the RNA icon to see the expression)">Tumor ⓘ<br><input class="filter column_filter tumor_filter" type="text" data-column="2" /></th>
        <th data-toggle="tooltip" data-placement="top" data-html="true" title="Human leukocyte antigen<br/>Class II HLA are shown in green<br/>*You can use a * as a wildcard instead of any 1 letter<br>(Search is strict in this column)">HLA ⓘ<br><input class="filter hla_filter" type="text" data-column="3" /></th>
        <th data-toggle="tooltip" data-placement="top" data-html="true" title="Frequency in Caucasians, based on <br/>(1) Marsh SGE, Parham P, Barber LD. The HLA Factsbook (Academic Press, 2000) for HLA-A, B, C, and <br/>(2) Colombani J. HLA, Fonctions immunitaires et applications médicales (John Libbey Eurotext, 1993) for HLA-DP and DR">HLA% ⓘ<br>min <input id="freq_limit" class="filter freq_filter range" type="text" data-column="4" /></th>
        <th><table id="seq_table" class="borderless"><th width="65%"><span data-toggle="tooltip" data-placement="top" data-html="true" title="The residues modified by the mutation are indicated in red<br/>*You can use a * as a wildcard instead of any 1 letter<br/>*You can delimit the start of the sequence with ^ or (<br/>*You can delimit the end of the sequence with $ or )">Peptide Sequence ⓘ</span><input class="filter column_filter seq_filter" type="text" data-column="5" /></th><th><span id="lengthTH"data-toggle="tooltip" data-placement="top" title="Select a specific range of peptide sequences with a minimum and maximum length">Length ⓘ</span> <br><input class="filter range" id="min"> - <input class="filter range" id="max"></th></table></th>
        <th data-toggle="tooltip" data-placement="top" title="Position of the peptide sequence in the protein sequence">Position ⓘ<br><input class="filter column_filter pos_filter" type="text" data-column="6" /></th>
        <th data-toggle="tooltip" data-placement="top" title="Method used to isolate the CTL recognizing the antigen">Lymphocyte Stimulation ⓘ<br><input class="filter column_filter sim_filter" type="text" data-column="7" /></th>
        <th data-toggle="tooltip" data-placement="top" data-html="true" title="First author and year of the article<br/>*You can search the authors, year or title of the article with this filter (this applies to the potential table too)<br/>*Click on the text to display its complete information at the bottom<br/>(Scrolling the table will clear the reference information)<br/>*Click on the arrow icon to access to the pubmed URL">Reference ⓘ <br><input class="filter column_filter ref_filter" type="text" data-column="9" /></th>
        <th>Full Reference</th>
        <th>Comment</th>
        <th data-toggle="tooltip" data-placement="top" title="Hover on the icon to display the comments specific to the gene if there is any of them">Note ⓘ<br><input class="filter column_filter com_filter" type="text" data-column="10" /></th>
        <th data-toggle="tooltip" data-placement="top" title="Click on the Blue Icon to edit the peptide or the Red Icon to delete it">Actionsⓘ</th>
      </tr>
      </thead>
      <tbody>
      <% peptides.forEach(function(peptide){ %>
      <tr>
        <td><% if(peptide.geneCard) {%>
          <b><a href="<%= peptide.geneCard %>" target="_blank"><%= peptide.gene%></a></b>
          <% } else {%>
          <b><%= peptide.gene %></b>
          <% } %><% if (peptide.newTag) {%>
           <img src="/images/new_icon.png"/></a>
          <% } %>
        </td>
        <td>
          <% if (peptide.type == "mutation") { %>
          0
          <% } else if (peptide.type == "tumor") { %>
          1
          <% } else if (peptide.type == "differentiation") { %>
          2
          <% } else if (peptide.type == "overexpressed") { %>
          3
          <% } else { %>
          4
          <% } %>
        </td>
        <td><%= peptide.tumor %>
          <% if (peptide.image) { %>
          <a href="/Peptide/details/<%= peptide.id %>" target="_blank"><img src="/images/rna_icon.png"/></a>
          <% } %>
        </td>
        <% if (peptide.hla.charAt(0) == 'D') {%>
        <td class="center_td"><span style="color:green"><%= peptide.hla %></span></td>
        <% } else { %>
        <td class="center_td"><%= peptide.hla %></td>
        <% } %>
        <td class="center_td"><%= peptide.freq %></td>
        <td><%= peptide.leftSequence %><span style="color:red" class="redPart"><%= peptide.redPart %></span><%= peptide.rightSequence %></td>
        <td class="center_td"><%= peptide.pos %></td>
        <td><%= peptide.stimulation %></td>
        <td class="ref_text"><u><%= peptide.reference %></u><a href="<%= peptide.url %>" target="_blank"><img src="/images/ext_link.png"/></a></td>
        <td><%= peptide.fullReference %></td>
        <td><%= peptide.comment %></td>
        <td class="comment-cell"><% if(peptide.comment) {%>
          <button class="btn btn-outline-secondary btn-sm oi oi-document" data-toggle="tooltip" data-placement="left" title='<%= peptide.comment %>'></button>
          <% } %>
        </td>
        <td>
          <a href="edit/<%= peptide.id %>" class="btn btn-sm btn-primary"><em class="fa fa-pencil"></em></a>
          <a href="/Peptide/delete/<%= peptide.id %>" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this peptide?');"><em class="fa fa-trash"></em></a>
        </td>
      </tr>
      <% })%>
      </tbody>
    </table>
    <div>
      <p id="ref_zone" style="visibility: hidden;" class="padded-multiline"><span style="color:blue"><b>Selected reference:</b> <i><span id="fullref_text"></span></i></span></p>
    </div>
  </div>
  <hr>

  <!-- Potential Table -->
  <div>
    <a id="potentialSection"></a>
    <b>&emsp;Potential antigenic peptide references</b>
    <table id="potentialTable" class="table-bordered" width="100%">
      <thead>
      <tr>
        <th data-toggle="tooltip" data-placement="top" data-html="true" title="Complete reference of the article<br/>*You can search the authors, year or title of the article with this filter (this applies to the main table too)<br/>*Click on the text to display its complete information at the bottom<br/>(Scrolling the table will clear the reference information)<br/>*Click on the arrow icon to access to the pubmed URL">Reference ⓘ <br><input class="filter column_filter ref_filter" type="text" data-column="9" /></th>
        <th>Note</th>
        <th data-toggle="tooltip" data-placement="top" title="Hover on the icon to display the comments specific to the gene if there is any of them">Note ⓘ</th>
        <th data-toggle="tooltip" data-placement="top" title="Click on the Blue Icon to edit the pepitide or the Red Icon to delete it">Actionsⓘ</th>
      </tr>
      </thead>
      <tbody>
      <% potentials.forEach(function(peptide){ %>
      <tr>
        <td><a href="<%= peptide.url %>" target="_blank"><%= peptide.fullReference ? peptide.fullReference:'URL to the article' %></a></td>
        <td><%= peptide.comment ? peptide.comment:'' %></td>
        <td class="comment-cell"><% if(peptide.comment) {%>
          <button class="btn btn-outline-secondary btn-sm oi oi-document" data-toggle="tooltip" data-placement="left" title='<%= peptide.comment %>'></button>
          <% } %>
        </td>
        <td>
          <a href="edit/<%= peptide.id %>" class="btn btn-sm btn-primary"><em class="fa fa-pencil"></em></a>
          <a href="/Peptide/delete/<%= peptide.id %>" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this peptide?');"><em class="fa fa-trash"></em></a>
        </td>
      </tr>
      <% })%>
      </tbody>
    </table>
  </div>
</div>



