
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Peptide/adminlist">Peptides</a></li>
    <li class="breadcrumb-item active">Edit</li>
  </ol>

  <h1 class="display-5">Edit Peptide</h1>
  <form method="post" action="/Peptide/update/<%= peptide.id %>" enctype="multipart/form-data">
    <p><i>Fields in <b><span style="color:red">red</span></b> are mandatory.</i></p>
    <div class="form-row">
      <div class="form-group col-md-2" id="typeDiv">
        <label><b>Peptide Category</b><br/></label>
        <select  class="form-control" id="selType" name="type" onchange="showHide(this.options[this.selectedIndex].value)">
          <option value="mutation" <% if (peptide.type == "mutation") { %> selected <% } %>>Mutation</option>
          <option value="tumor" <% if (peptide.type == "tumor") { %> selected <% } %> >Tumor Specific</option>
          <option value="differentiation" <% if (peptide.type == "differentiation") { %> selected <% } %> >Differentiation</option>
          <option value="overexpressed" <% if (peptide.type == "overexpressed") { %> selected <% } %> >Overexpressed</option>
          <option value="potential" <% if (peptide.type == "potential") { %> selected <% } %>>Potential</option>
        </select>
      </div>
      <div class="col-md-5" id="geneDiv">
        <label><b>Gene</b></label>
        <input type="text" name="gene" class="form-control" value="<%= peptide.gene ? peptide.gene : '' %>">
      </div>
      <div class="col-md-5" id="geneCardDiv">
        <label><b>URL of the Gene Card</b></label>
        <input type="text" name="geneCard" class="form-control" value="<%= peptide.geneCard ? peptide.geneCard : '' %>" >
      </div>
    </div>
    <hr>
    <div class="form-row">
      <div class="col-md-4" id="tumorDiv">
        <label><b>Tumor</b></label>
        <input type="text" name="tumor" class="form-control" value="<%= peptide.tumor ? peptide.tumor : '' %>">
      </div>
      <div class="col-md-4" id="hlaDiv">
        <label><b>HLA</b></label>
        <input type="text" name="hla" class="form-control" value="<%= peptide.hla ? peptide.hla : '' %>">
      </div>
      <div class="col-md-4" id="freqDiv">
        <label><b>HLA Frequency</b></label>
        <input type="text" name="freq" class="form-control" value="<%= peptide.freq ? peptide.freq : 0 %>">
      </div>
    </div>
    <hr class="upper_hr">
    <div class="form-row">
      <div class="col-md-4" id="preMutationDiv">
        <label><b id="seqText">Peptide sequence before the mutated part</b></label>
        <input type="text" name="leftSequence" class="form-control" value="<%= peptide.leftSequence ? peptide.leftSequence : '' %>">
      </div>
      <div class="col-md-4" id="mutationDiv">
        <label><b>Mutated part of the sequence</b></label>
        <input type="text" name="redPart" class="form-control" value="<%= peptide.redPart ? peptide.redPart : '' %>">
      </div>
      <div class="col-md-4" id="postMutationDiv">
        <label><b>Peptide sequence after the mutated part</b></label>
        <input type="text" name="rightSequence" class="form-control" value="<%= peptide.rightSequence ? peptide.rightSequence : '' %>">
      </div>
    </div>
    <hr class="upper_hr">
    <div class="form-row">
      <div class="col-md-4" id="posDiv">
        <label><b>Position</b></label>
        <input type="text" name="pos" class="form-control" value="<%= peptide.pos ? peptide.pos : '' %>">
      </div>
      <div class="col-md-4" id="stimDiv">
        <label><b>Lymphocyte Stimulation Method</b></label>
        <input type="text" name="stimulation" class="form-control" value="<%= peptide.stimulation ? peptide.stimulation : '' %>">
      </div>
      <div class="col-md-4" id="minRefDiv">
        <label><b>Reference: Name and Year</b></label>
        <input type="text" name="reference" class="form-control" value="<%= peptide.reference ? peptide.reference : '' %>" >
      </div>
    </div>
    <hr class="upper_hr">
    <div class="form-row">
      <div class="col-md-12">
        <label><b>Full Reference</b></label>
        <input type="text" name="fullReference" class="form-control" value="<%= peptide.fullReference ? peptide.fullReference : '' %>">
      </div>
    </div>
    <hr>
    <div class="form-row">
      <div class="col-md-6">
        <label><span style="color:red"><b>URL of the article</b></span></label>
        <input type="text" name="url" class="form-control" value="<%= peptide.url ? peptide.url : '' %>">
      </div>
      <div class="col-md-6">
        <label><b>Comment</b></label>
        <input type="text" name="comment" class="form-control" value="<%= peptide.comment ? peptide.comment : '' %>">
      </div>
    </div>
    <br/>
    <div>
      <input type="checkbox" name="newTag" value="newTag" <% if (peptide.newTag) { %>checked<%}%>> New entry?<br/>
    </div>
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    <div id="over_image">
      <hr>
      <label><b>Expression image</b></label><br/>
      <input type="checkbox" name="deleteImage" value="deleteImage"> Delete image?<br/><br/>
      <input type="hidden" name="image" value="<%= peptide.image ? peptide.image:''%>" />
      <input id ="file" type="file" name="file" accept="image/jpeg"/><br/>
    </div>


    <hr>
    <button type="submit" class="btn btn-primary" value="Save changes">Save changes</button>
  </form>
</div>

<script type="text/javascript">
  //Function that hide or show form fields/hr based on the peptide type chosen in the select field. Also change field size
  function showHide(select_item) {
    var hr_group = document.getElementsByClassName("upper_hr");
    var i;
    if (select_item === "mutation"){
      document.getElementById("geneDiv").style.display = 'block';
      document.getElementById("geneCardDiv").style.display = 'block';
      document.getElementById("tumorDiv").style.display = 'block';
      document.getElementById("hlaDiv").style.display = 'block';
      document.getElementById("freqDiv").style.display = 'block';
      document.getElementById("preMutationDiv").style.display = 'block';
      document.getElementById("mutationDiv").style.display = 'block';
      document.getElementById("postMutationDiv").style.display = 'block';
      document.getElementById("posDiv").style.display = 'block';
      document.getElementById("stimDiv").style.display = 'block';
      document.getElementById("minRefDiv").style.display = 'block';
      document.getElementById("over_image").style.display = 'none';
      for (i = 0; i < hr_group.length; i++) {
        hr_group[i].style.display = 'block';
      }

      document.getElementById("hlaDiv").className = "col-md-4";
      document.getElementById("freqDiv").className = "col-md-4";
      document.getElementById("preMutationDiv").className = "col-md-4";

      document.getElementById("seqText").textContent="Peptide sequence before the mutated part";
    }

    else if (select_item ==="tumor"){
      document.getElementById("tumorDiv").style.display = 'none';
      document.getElementById("mutationDiv").style.display = 'none';
      document.getElementById("postMutationDiv").style.display = 'none';

      document.getElementById("geneDiv").style.display = 'block';
      document.getElementById("geneCardDiv").style.display = 'block';
      document.getElementById("preMutationDiv").style.display = 'block';
      document.getElementById("hlaDiv").style.display = 'block';
      document.getElementById("freqDiv").style.display = 'block';
      document.getElementById("posDiv").style.display = 'block';
      document.getElementById("stimDiv").style.display = 'block';
      document.getElementById("minRefDiv").style.display = 'block';
      document.getElementById("over_image").style.display = 'block';
      for (i = 0; i < hr_group.length; i++) {
        hr_group[i].style.display = 'block';
      }

      document.getElementById("hlaDiv").className = "col-md-6";
      document.getElementById("freqDiv").className = "col-md-6";
      document.getElementById("preMutationDiv").className = "col-md-12";

      document.getElementById("seqText").textContent="Peptide sequence";
    }

    else if (select_item === "differentiation" || select_item === "overexpressed"){
      document.getElementById("mutationDiv").style.display = 'none';
      document.getElementById("postMutationDiv").style.display = 'none';

      document.getElementById("tumorDiv").style.display = 'block';
      document.getElementById("preMutationDiv").style.display = 'block';
      document.getElementById("preMutationDiv").className = "col-md-12";
      document.getElementById("geneDiv").style.display = 'block';
      document.getElementById("geneCardDiv").style.display = 'block';
      document.getElementById("hlaDiv").style.display = 'block';
      document.getElementById("freqDiv").style.display = 'block';
      document.getElementById("posDiv").style.display = 'block';
      document.getElementById("stimDiv").style.display = 'block';
      document.getElementById("minRefDiv").style.display = 'block';
      document.getElementById("over_image").style.display = 'block';
      for (i = 0; i < hr_group.length; i++) {
        hr_group[i].style.display = 'block';
      }

      document.getElementById("hlaDiv").className = "col-md-4";
      document.getElementById("freqDiv").className = "col-md-4";
      document.getElementById("preMutationDiv").className = "col-md-12";

      document.getElementById("seqText").textContent="Peptide sequence";

    }

    else if (select_item === "potential"){
      document.getElementById("geneDiv").style.display = 'none';
      document.getElementById("geneCardDiv").style.display = 'none';
      document.getElementById("hlaDiv").style.display = 'none';
      document.getElementById("freqDiv").style.display = 'none';
      document.getElementById("posDiv").style.display = 'none';
      document.getElementById("stimDiv").style.display = 'none';
      document.getElementById("tumorDiv").style.display = 'none';
      document.getElementById("preMutationDiv").style.display = 'none';
      document.getElementById("mutationDiv").style.display = 'none';
      document.getElementById("postMutationDiv").style.display = 'none';
      document.getElementById("minRefDiv").style.display = 'none';
      document.getElementById("over_image").style.display = 'none';
      for (i = 0; i < hr_group.length; i++) {
        hr_group[i].style.display = 'none';
      }
    }
  }
  var sel = document.getElementById("selType");

  //Change the form accordingly based on the peptide to edit
  window.onload = showHide(sel.options[sel.selectedIndex].value);

</script>
