<div class="container-fluid">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Peptide/adminlist">Peptides</a></li>
    <li class="breadcrumb-item active">Edit</li>
  </ol>

  <h1 class="display-5">Edit Peptide</h1>
  <form method="post" action="/Peptide/update/<%= peptide.id %>">
    <div class="form-group">
      <label><b>Peptide Category</b></label>
      <select class="form-control" id="selType" name="type" onchange="showHide(this.options[this.selectedIndex].value)">
        <% if (peptide.type == "mutation") { %>
        <option value="mutation" selected >Mutation</option>
        <option value="tumor">Tumor Specific</option>
        <option value="differentiation">Differentiation</option>
        <option value="overexpressed">Overexpressed</option>
        <option value="potential">Potential</option>

        <% } else if (peptide.type == "tumor") { %>
        <option value="mutation">Mutation</option>
        <option value="tumor" selected>Tumor Specific</option>
        <option value="differentiation">Differentiation</option>
        <option value="overexpressed">Overexpressed</option>
        <option value="potential">Potential</option>

        <% } else  if (peptide.type == "differentiation") { %>
        <option value="mutation">Mutation</option>
        <option value="tumor">Tumor Specific</option>
        <option value="differentiation" selected>Differentiation</option>
        <option value="overexpressed">Overexpressed</option>
        <option value="potential">Potential</option>

        <% } else if (peptide.type == "overexpressed") { %>
        <option value="mutation">Mutation</option>
        <option value="tumor">Tumor Specific</option>
        <option value="differentiation">Differentiation</option>
        <option value="overexpressed" selected>Overexpressed</option>
        <option value="potential">Potential</option>

        <% } else {%>
        <option value="mutation">Mutation</option>
        <option value="tumor">Tumor Specific</option>
        <option value="differentiation">Differentiation</option>
        <option value="overexpressed">Overexpressed</option>
        <option value="potential" selected>Potential</option>
        <% } %>
      </select>
    </div>
    <div class="form-group" id="geneDiv">
      <label><b>Gene</b></label>
      <input type="text" name="gene" class="form-control" placeholder="Gene" value="<%= peptide.gene %>">
    </div>
    <div class="form-group" id="geneCardDiv">
      <label><b>URL of the Gene Card</b></label>
      <input type="text" name="geneCard" class="form-control" placeholder="URL of the Gene Card" value="<%= peptide.geneCard %>" >
    </div>
    <div class="form-group" id="tumorDiv">
      <label><b>Tumor</b></label>
      <input type="text" name="tumor" class="form-control" placeholder="Tumor" value="<%= peptide.tumor %>">
    </div>
    <div class="form-group" id="hlaDiv">
      <label><b>HLA</b></label>
      <input type="text" name="hla" class="form-control" placeholder="HLA" value="<%= peptide.hla %>">
    </div>
    <div class="form-group" id="freqDiv">
      <label><b>HLA Frequency</b></label>
      <input type="text" name="freq" class="form-control" placeholder="HLA frequency" value="<%= peptide.freq %>">
    </div>
    <div class="form-group" id="preMutationDiv">
      <label><b id="seqText">Peptide sequence before the mutated part</b></label>
      <input type="text" name="leftSequence" class="form-control" placeholder="Sequence" value="<%= peptide.leftSequence %>">
    </div>
    <div class="form-group" id="mutationDiv">
      <label><b>Mutated part of the sequence</b></label>
      <input type="text" name="redPart" class="form-control" placeholder="Mutation" value="<%= peptide.redPart %>">
    </div>
    <div class="form-group" id="postMutationDiv">
      <label><b>Peptide sequence after the mutated part</b></label>
      <input type="text" name="rightSequence" class="form-control" placeholder="Sequence" value="<%= peptide.rightSequence %>">
    </div>
    <div class="form-group" id="posDiv">
      <label><b>Position</b></label>
      <input type="text" name="pos" class="form-control" placeholder="Position" value="<%= peptide.pos %>">
    </div>
    <div class="form-group" id="stimDiv">
      <label><b>Lymphocyte Stimulation Method</b></label>
      <input type="text" name="stimulation" class="form-control" placeholder="Lymphocyte Stimulation Method" value="<%= peptide.stimulation %>">
    </div>
    <div class="form-group">
      <label><b>Reference: Name and Year</b></label>
      <input type="text" name="reference" class="form-control" placeholder="Reference: Name and Year" value="<%= peptide.reference %>" >
    </div>
    <div class="form-group">
      <label><b>Full Reference</b></label>
      <input type="text" name="fullReference" class="form-control" placeholder="Full reference" value="<%= peptide.fullReference %>">
    </div>
    <div class="form-group">
      <label><b>URL of the article</b></label>
      <input type="text" name="url" class="form-control" placeholder="URL of the article" value="<%= peptide.url %>">
    </div>
    <div class="form-group">
      <label><b>Comment</b></label>
      <input type="text" name="comment" class="form-control" placeholder="Comment" value="<%= peptide.comment %>">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<script>

  //Function that hide or show form fields based on the peptide type chosen in the select field
  function showHide(select_item) {
    if (select_item == "mutation"){
      document.getElementById("tumorDiv").style.display = 'block';
      document.getElementById("preMutationDiv").style.display = 'block';
      document.getElementById("mutationDiv").style.display = 'block';
      document.getElementById("postMutationDiv").style.display = 'block';
      document.getElementById("geneDiv").style.display = 'block';
      document.getElementById("geneCardDiv").style.display = 'block';
      document.getElementById("hlaDiv").style.display = 'block';
      document.getElementById("freqDiv").style.display = 'block';
      document.getElementById("posDiv").style.display = 'block';
      document.getElementById("stimDiv").style.display = 'block';
      document.getElementById("seqText").textContent="Peptide sequence before the mutated part";
    }

    if (select_item =="tumor"){
      document.getElementById("tumorDiv").style.display = 'none';
      document.getElementById("mutationDiv").style.display = 'none';
      document.getElementById("postMutationDiv").style.display = 'none';

      document.getElementById("geneDiv").style.display = 'block';
      document.getElementById("geneCardDiv").style.display = 'block';
      document.getElementById("preMutationDiv").style.display = 'block';
      document.getElementById("hlaDiv").style.display = 'block';
      document.getElementById("freqDiv").style.display = 'block';
      document.getElementById("posDiv").style.display = 'block';
      document.getElementById("stimDiv").style.display = 'block';
      document.getElementById("seqText").textContent="Peptide sequence";
    }

    if (select_item == "differentiation" || select_item == "overexpressed"){
      document.getElementById("mutationDiv").style.display = 'none';
      document.getElementById("postMutationDiv").style.display = 'none';

      document.getElementById("tumorDiv").style.display = 'block';
      document.getElementById("preMutationDiv").style.display = 'block';
      document.getElementById("geneDiv").style.display = 'block';
      document.getElementById("geneCardDiv").style.display = 'block';
      document.getElementById("hlaDiv").style.display = 'block';
      document.getElementById("freqDiv").style.display = 'block';
      document.getElementById("posDiv").style.display = 'block';
      document.getElementById("stimDiv").style.display = 'block';
      document.getElementById("seqText").textContent="Peptide sequence";
    }

    if (select_item == "potential"){
      document.getElementById("geneDiv").style.display = 'none';
      document.getElementById("geneCardDiv").style.display = 'none';
      document.getElementById("hlaDiv").style.display = 'none';
      document.getElementById("freqDiv").style.display = 'none';
      document.getElementById("posDiv").style.display = 'none';
      document.getElementById("stimDiv").style.display = 'none';
      document.getElementById("tumorDiv").style.display = 'none';
      document.getElementById("preMutationDiv").style.display = 'none';
      document.getElementById("mutationDiv").style.display = 'none';
      document.getElementById("postMutationDiv").style.display = 'none';
    }
  };
  var sel = document.getElementById("selType");

  //Change the form accordingly based on the peptide to edit
  window.onload = showHide(sel.options[sel.selectedIndex].value);

</script>
