<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/datatables.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/jquery.scrollTo.min.js"></script>
<script src="/js/dataTables.buttons.min.js"></script>
<script src="/js/buttons.print.js"></script>

<script>
  //Turn the page visible
  function initFadeIn() {
    $("#div_body").css("visibility","visible");
    $("#div_body").fadeIn(700);
    $("#loading").remove();
  }

  $(document).ready(function(){
    initFadeIn();
    //setting the mutation datable
    var mutationTable = $('#mutationTable').DataTable({
        dom: "<'row'>" + "<'row'<'col-sm-12'tr>>" + "<i><B>",
        "scrollX": true,
        "orderCellsTop": true,
        scrollY: '60vh',
        paging: false,
        scrollCollapse: true,
        rowsGroup: [0,1],
        "order": [[ 0, "asc" ]],
        buttons: [
          {
            extend:'print',
            text: 'Print Table',
            title: '',
            //autoPrint: false,
            exportOptions: {
              stripHtml: false,
              columns: [0,1,2,3,4,5,6,7,8,9]
            },
            customize: function ( win ) {
              //Add title
              $(win.document.body).prepend('<p><h1>Unique antigens table</h1></p>')

              //Remove the information icon and extra information too
              $(win.document.body).find("th").each(function(){
                var string = $(this).text();
                var change = string.replace(/ ⓘ/g,'');
                $(this).text(change);
                if ($(this).index() === 8){
                  $(this).addClass('delete');
                }
              });

              //Remove link icon
              $(win.document.body).find("img").remove();

              //Remove dotted underline of the reference
              $(win.document.body).find("u").contents().unwrap();

              //Remove link
              $(win.document.body).find("a").contents().unwrap();

              //Reference related functions
              var counter = 1;
              $(win.document.body).append('<p><h4>References</h4></p>')

              $(win.document.body).find("td").each(function(){
                //Add the annotation for the reference
                if ($(this).index() === 7){
                  $(this).append('<sup><b>'+counter+'</b></sup>');
                }

                //Append the full reference in the document
                else if ($(this).index() === 8){
                  var reference = $(this).text();
                  $(win.document.body).append('<p><b>' + counter + '</b>: ' + reference + '</p><br/>');
                  counter = counter +1;
                  $(this).addClass('delete');
                }
              })

              //Remove the full reference column
              $(win.document.body).find(".delete").remove();

            }
          }
        ],
        "columnDefs": [
          {
            "targets":[0,1,2,3,4,5,6,7,8,9,10],
            "sortable": false
          },
          {
            "targets": [ 8,9 ],
            "visible": false,
            "searchable": true
          },
          { "width": "10%", "targets": 0 },
          { "width": "20%", "targets": 1 },
          { "width": "5%", "targets": 2},
          { "width": "6%", "targets": [3,5]},
          { "width": "15%", "targets": 4 },
          { "width": "20%", "targets": 6 },
          { "width": "5%", "targets": 10}
        ]
      }
    );

    //setting the tumor datatable
    var tumorTable = $('#tumorTable').DataTable({
        dom: "<'row'>" + "<'row'<'col-sm-12'tr>>" + "<i><B>",
        "scrollX": true,
        "orderCellsTop": true,
        scrollY: '60vh',
        paging: false,
        scrollCollapse: true,
        rowsGroup: [0, 1],
        "order": [[ 0, "asc" ]],

        buttons: [
          {
            extend:'print',
            text: 'Print Table',
            title: '',
            //autoPrint: false,
            exportOptions: {
              stripHtml: false,
              columns: [0,2,3,4,5,6,7,8,9]
            },
            customize: function ( win ) {

              //Add title
              $(win.document.body).prepend('<p><h1>Tumor-specific antigens table</h1></p>')

              //Remove the information icon and extra information too
              $(win.document.body).find("th").each(function(){
                var string = $(this).text();
                var change = string.replace(/ ⓘ/g,'');
                $(this).text(change);
                if ($(this).index() === 7){
                  $(this).addClass('delete');
                }
              });

              //Remove link icon
              $(win.document.body).find("img").remove();

              //Remove dotted underline of the reference
              $(win.document.body).find("u").contents().unwrap();

              //Remove link
              $(win.document.body).find("a").contents().unwrap();

              //Reference related functions
              var counter = 1;
              $(win.document.body).append('<p><h4>References</h4></p>')

              $(win.document.body).find("td").each(function(){
                //Add the annotation for the reference
                if ($(this).index() === 6){
                  $(this).append('<sup><b>'+counter+'</b></sup>');
                }

                //Append the full reference in the document
                else if ($(this).index() === 7){
                  var reference = $(this).text();
                  $(win.document.body).append('<p><b>' + counter + '</b>: ' + reference + '</p><br/>');
                  counter = counter +1;
                  $(this).addClass('delete');
                }
              })

              //Remove the full reference column
              $(win.document.body).find(".delete").remove();

            }
          }
        ],

        "columnDefs": [
          {
            "targets":[0,1,2,3,4,5,6,7,8,9,10],
            "sortable": false
          },
          {
            "targets": [ 8,9 ],
            "visible": false,
            "searchable": true
          },
          { "width": "20%", "targets": 0 },
          { "width": "10%", "targets": 1 },
          { "width": "5%", "targets": 2},
          { "width": "6%", "targets": [3,5]},
          { "width": "15%", "targets": 4 },
          { "width": "20%", "targets": 6 },
          { "width": "5%", "targets": 10}
        ]
      }
    );

    //setting the differentiation datatable
    var differentiationTable = $('#differentationTable').DataTable({
        dom: "<'row'>" + "<'row'<'col-sm-12'tr>>" + "<i><B>",
        "scrollX": true,
        "orderCellsTop": true,
        scrollY: '60vh',
        paging: false,
        scrollCollapse: true,
        rowsGroup: [0, 1],
        "order": [[ 0, "asc" ]],
        buttons: [
          {
            extend:'print',
            text: 'Print Table',
            title: '',
            //autoPrint: false,
            exportOptions: {
              stripHtml: false,
              columns: [0,1,2,3,4,5,6,7,8,9]
            },
            customize: function ( win ) {
              //Add title
              $(win.document.body).prepend('<p><h1>Differentiation antigens table</h1></p>')

              //Remove the information icon and extra information too
              $(win.document.body).find("th").each(function(){
                var string = $(this).text();
                var change = string.replace(/ ⓘ/g,'');
                $(this).text(change);
                if ($(this).index() === 8){
                  $(this).addClass('delete');
                }
              });

              //Remove link icon
              $(win.document.body).find("img").remove();

              //Remove dotted underline of the reference
              $(win.document.body).find("u").contents().unwrap();

              //Remove link
              $(win.document.body).find("a").contents().unwrap();

              //Reference related functions
              var counter = 1;
              $(win.document.body).append('<p><h4>References</h4></p>')

              $(win.document.body).find("td").each(function(){
                //Add the annotation for the reference
                if ($(this).index() === 7){
                  $(this).append('<sup><b>'+counter+'</b></sup>');
                }

                //Append the full reference in the document
                else if ($(this).index() === 8){
                  var reference = $(this).text();
                  $(win.document.body).append('<p><b>' + counter + '</b>: ' + reference + '</p><br/>');
                  counter = counter +1;
                  $(this).addClass('delete');
                }
              })

              //Remove the full reference column
              $(win.document.body).find(".delete").remove();

            }
          }
        ],
        "columnDefs": [
          {
            "targets":[0,1,2,3,4,5,6,7,8,9,10],
            "sortable": false
          },
          {
            "targets": [8,9 ],
            "visible": false,
            "searchable": true
          },
          { "width": "10%", "targets": 0 },
          { "width": "20%", "targets": 1 },
          { "width": "5%", "targets": 2},
          { "width": "6%", "targets": [3,5]},
          { "width": "15%", "targets": 4 },
          { "width": "20%", "targets": 6 },
          { "width": "5%", "targets": 10}
        ]
      }
    );

    //setting the overexpressed datatable
    var overexpressedTable = $('#overexpressedTable').DataTable({
        dom: "<'row'>" + "<'row'<'col-sm-12'tr>>" + "<i><B>",
        "scrollX": true,
        "orderCellsTop": true,
        scrollY: '60vh',
        paging: false,
        scrollCollapse: true,
        rowsGroup: [0, 1],
        "order": [[ 0, "asc" ]],
        buttons: [
          {
            extend:'print',
            text: 'Print Table',
            title: '',
            //autoPrint: false,
            exportOptions: {
              stripHtml: false,
              columns: [0,1,2,3,4,5,6,7,8,9]
            },
            customize: function ( win ) {
              //Add title
              $(win.document.body).prepend('<p><h1>Overexpressed antigens table</h1></p>')

              //Remove the information icon and extra information too
              $(win.document.body).find("th").each(function(){
                var string = $(this).text();
                var change = string.replace(/ ⓘ/g,'');
                $(this).text(change);
                if ($(this).index() === 8){
                  $(this).addClass('delete');
                }
              });

              //Remove link icon
              $(win.document.body).find("img").remove();

              //Remove dotted underline of the reference
              $(win.document.body).find("u").contents().unwrap();

              //Remove link
              $(win.document.body).find("a").contents().unwrap();

              //Reference related functions
              var counter = 1;
              $(win.document.body).append('<p><h4>References</h4></p>')

              $(win.document.body).find("td").each(function(){
                //Add the annotation for the reference
                if ($(this).index() === 7){
                  $(this).append('<sup><b>'+counter+'</b></sup>');
                }

                //Append the full reference in the document
                else if ($(this).index() === 8){
                  var reference = $(this).text();
                  $(win.document.body).append('<p><b>' + counter + '</b>: ' + reference + '</p><br/>');
                  counter = counter +1;
                  $(this).addClass('delete');
                }
              })

              //Remove the full reference column
              $(win.document.body).find(".delete").remove();

            }
          }
        ],
        "columnDefs": [
          {
            "targets":[0,1,2,3,4,5,6,7,8,9,10],
            "sortable": false
          },
          {
            "targets": [8,9 ],
            "visible": false,
            "searchable": true
          },
          { "width": "10%", "targets": 0 },
          { "width": "20%", "targets": 1 },
          { "width": "5%", "targets": 2},
          { "width": "6%", "targets": [3,5]},
          { "width": "15%", "targets": 4 },
          { "width": "20%", "targets": 6 },
          { "width": "5%", "targets": 10}
        ]
      }
    );


    //Setting the potential datatable
    var potentialTable = $('#potentialTable').DataTable({
        //Dom for print button in comment. Uncomment it for the print button
        //dom: "<'row'>" + "<'row'<'col-sm-12'tr>>" + "<i><B>",
        dom: "<'row'>" + "<'row'<'col-sm-12'tr>>" + "<i>",
        "scrollX": true,
        "orderCellsTop": true,
        scrollY: '60vh',
        paging: false,
        scrollCollapse: true,
        "order": [[ 0, "asc" ]],
        //Print button functions commented out
        /*
          buttons: [
            {
              extend:'print',
              text: 'Print Table',
              title: '',
              //autoPrint: false,
              exportOptions: {
                stripHtml: false,
                columns: [0]
              },
              customize: function ( win ) {
                //Add title
                $(win.document.body).prepend('<p><h1>Potential antigens table</h1></p>')

                //Remove the information icon
                $(win.document.body).find("th").each(function () {
                  var string = $(this).text();
                  var change = string.replace(/ ⓘ/g, '');
                  $(this).text(change);
                });

                //Remove link icon
                $(win.document.body).find("img").remove();

                //Remove link
                $(win.document.body).find("a").contents().unwrap();

              }
            }
          ],
          */
        "columnDefs": [
          {
            "targets":[2],
            "sortable": false
          },
          {
            "targets": [1],
            "visible": false
          },
          { "width": "5%", "targets": [2]}
        ]
      }
    );

    //Functions when a tab is clicked
    $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
      //Adjusting width of the columns for the header for the visible table
      $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();

      //Hide any displayed reference
      document.getElementById("ref_zone").style.visibility = 'hidden';
    } );

    //Read hash from page load and change tab if necessary
    var hash = document.location.hash;
    var prefix = "tab_";
    if (hash) {
      $('.nav-tabs a[href="'+hash.replace(prefix,"")+'"]').tab('show');
      setTimeout(function() {

        window.scrollTo(0, 0);
      }, 1);
    }

    //Event listener: display full reference when a reference is clicked by the user
    $('.ref_text').on('click', function () {
      var tr = $(this).closest('tr');
      var row;
      var data;

      switch(this.id){
        case "ref_mutation":
          row = mutationTable.row( tr );
          break;
        case "ref_tumor":
          row = tumorTable.row( tr );
          break;
        case "ref_diff":
          row = differentiationTable.row( tr );
          break;
        default:
          row = overexpressedTable.row( tr );
      }
      data = row.data();
      $('.fullref_text').text(data[8]);
      document.getElementById("ref_zone").style.visibility = 'visible';

    });

    //Hide full reference when scrolling
    $(".dataTables_scrollBody").on('scroll', function() {
      document.getElementById("ref_zone").style.visibility = 'hidden';
    });


    //Add margin to print button
    $('.buttons-print').each(function() {
      $(this).css('margin-top','7px');
      $(this).css('float','right');
    })


    //Apply Bootstrap tooltip style
    $('[data-toggle="tooltip"]').tooltip();

  });
</script>

<br/>
<div id="loading">
  <p style="text-align:center">Loading... Please wait.</p>
</div>
<div id="div_body" style="visibility: hidden">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" href="#mutationTab" role="tab" data-toggle="tab"><b>Mutation</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#tumorTab" role="tab" data-toggle="tab"><b>Tumor-specific</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#differentiationTab" role="tab" data-toggle="tab"><b>Differentiation</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#overexpressedTab" role="tab" data-toggle="tab"><b>Overexpressed</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#potentialTab" role="tab" data-toggle="tab"><b>Potential</b></a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active in" id="mutationTab">
      <table id="mutationTable" class="table-bordered" width="100%">
        <thead>
        <tr>
          <th data-toggle="tooltip" data-placement="top" title="Link to the Gene Card for the encoding gene and/or the parent protein">Gene/Protein ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" title="Type of tumor which expresses the mutated gene">Normal/Tumor ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" data-html="true" title="Human leukocyte antigen <br/>Class II HLA are shown in green">HLA ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" data-html="true" title="Frequency in Caucasians, based on <br/>(1) Marsh SGE, Parham P, Barber LD. The HLA Factsbook (Academic Press, 2000) for HLA-A, B, C, and <br/>(2) Colombani J. HLA, Fonctions immunitaires et applications médicales (John Libbey Eurotext, 1993) for HLA-DP and DR">HLA% ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" title="The residues modified by the mutation are indicated in red">Peptide Sequence ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" title="Position of the peptide sequence in the protein sequence">Position ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" title="Method used to isolate the CTL recognizing the antigen">Lymphocyte Stimulation ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" data-html="true" title="First author and year of the article<br/>*Click on the text to display its complete information at the bottom<br/>(Scrolling the table will clear the reference information)<br/>*Click on the arrow icon to access to the pubmed URL">Reference ⓘ</th>
          <th>Full Reference</th>
          <th>Note</th>
          <th data-toggle="tooltip" data-placement="top" title="Hover over the icon to display the comments specific to the gene if there is any of them">Note ⓘ</th>
        </tr>
        </thead>
        <tbody>
        <% mutations.forEach(function(peptide){ %>
        <tr>
          <td><% if(peptide.geneCard) {%>
            <b><a href="<%= peptide.geneCard %>" target="_blank"><%= peptide.gene%></a></b>
            <% } else {%>
            <b><%= peptide.gene %></b>
            <% } %><% if (peptide.newTag) {%>
            <img src="/images/new_icon.png"/>
            <% } %>
          </td>
          <td><%= peptide.tumor %></td>
          <% if (peptide.hla.charAt(0) == 'D') {%>
          <td class="center_td"><span style="color:green"><%= peptide.hla %></span></td>
          <% } else { %>
          <td class="center_td"><%= peptide.hla %></td>
          <% } %>
          <td class="center_td"><%= peptide.freq %></td>
          <td><%= peptide.leftSequence %><span style="color:red"><%= peptide.redPart %></span><%= peptide.rightSequence %></td>
          <td class="center_td"><%= peptide.pos %></td>
          <td><%= peptide.stimulation %></td>
          <td id="ref_mutation" class="ref_text"><u><%= peptide.reference %></u><a href="<%= peptide.url %>" target="_blank"><img src="/images/ext_link.png"/></a></td>
          <td><%= peptide.fullReference %></td>
          <td><%= peptide.comment %></td>
          <td class="comment-cell"><% if(peptide.comment) {%>
            <button class="btn btn-outline-secondary btn-sm oi oi-document" data-toggle="tooltip" data-placement="left" title='<%= peptide.comment %>'></button>
            <% } %>
          </td>
        </tr>
        <% })%>
        </tbody>
      </table>
    </div>

    <div role="tabpanel" class="tab-pane" id="tumorTab">
      <table id="tumorTable" class="table-bordered" width="100%">
        <thead>
        <tr>
          <th data-toggle="tooltip" data-placement="top" title="Link to the Gene Card for the encoding gene and/or the parent protein">Gene/Protein ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" data-html="true" title="Expression in the tissues<br/>*Click on the RNA icon to see the expression">Normal/Tumor ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" data-html="true" title="Human leukocyte antigen <br/>Class II HLA are shown in green">HLA ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" data-html="true" title="Frequency in Caucasians, based on <br/>(1) Marsh SGE, Parham P, Barber LD. The HLA Factsbook (Academic Press, 2000) for HLA-A, B, C, and <br/>(2) Colombani J. HLA, Fonctions immunitaires et applications médicales (John Libbey Eurotext, 1993) for HLA-DP and DR">HLA% ⓘ</th>
          <th>Peptide Sequence</th>
          <th data-toggle="tooltip" data-placement="top" title="Position of the peptide sequence in the protein sequence">Position ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" title="Method used to isolate the CTL recognizing the antigen">Lymphocyte Stimulation ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" data-html="true" title="First author and year of the article<br/>*Click on the text to display its complete information at the bottom<br/>(Scrolling the table will clear the reference information)<br/>*Click on the arrow icon to access to the pubmed URL">Reference ⓘ</th>
          <th>Full Reference</th>
          <th>Note</th>
          <th data-toggle="tooltip" data-placement="top" title="Hover on the icon to display the comments specific to the gene if there is any of them">Note ⓘ</th>
        </tr>
        </thead>
        <tbody>
        <% tumors.forEach(function(peptide){ %>
        <tr>
          <td><% if(peptide.geneCard) {%>
            <b><a href="<%= peptide.geneCard %>" target="_blank"><%= peptide.gene%></a></b>
            <% } else {%>
            <b><%= peptide.gene %></b>
            <% } %><% if (peptide.newTag) {%>
            <img src="/images/new_icon.png"/>
            <% } %>
          </td>
          <td>
            <% if (peptide.image) { %>
            <a href="/Peptide/details/<%= peptide.id %>" target="_blank"><img src="/images/rna_icon.png"/></a>
            <% } %>
          </td>
          <% if (peptide.hla.charAt(0) == 'D') {%>
          <td class="center_td"><span style="color:green"><%= peptide.hla %></span></td>
          <% } else { %>
          <td class="center_td"><%= peptide.hla %></td>
          <% } %>
          <td class="center_td"><%= peptide.freq %></td>
          <td><%= peptide.leftSequence %></td>
          <td class="center_td"><%= peptide.pos %></td>
          <td><%= peptide.stimulation %></td>
          <td id="ref_tumor" class="ref_text"><u><%= peptide.reference %></u><a href="<%= peptide.url %>" target="_blank"><img src="/images/ext_link.png"/></a></td>
          <td><%= peptide.fullReference %></td>
          <td><%= peptide.comment %></td>
          <td class="comment-cell"><% if(peptide.comment) {%>
            <button class="btn btn-outline-secondary btn-sm oi oi-document" data-toggle="tooltip" data-placement="left" title='<%= peptide.comment %>'></button>
            <% } %>
          </td>
        </tr>
        <% })%>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="differentiationTab">
      <table id="differentationTable" class="table-bordered" width="100%">
        <thead>
        <tr>
          <th data-toggle="tooltip" data-placement="top" title="Link to the Gene Card for the encoding gene and/or the parent protein">Gene/Protein ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" data-html="true" title="Type of tumor which expresses the gene<br/>*Click on the RNA icon to see the expression">Normal/Tumor ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" data-html="true" title="Human leukocyte antigen <br/>Class II HLA are shown in green">HLA ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" data-html="true" title="Frequency in Caucasians, based on <br/>(1) Marsh SGE, Parham P, Barber LD. The HLA Factsbook (Academic Press, 2000) for HLA-A, B, C, and <br/>(2) Colombani J. HLA, Fonctions immunitaires et applications médicales (John Libbey Eurotext, 1993) for HLA-DP and DR">HLA% ⓘ</th>
          <th>Peptide Sequence</th>
          <th data-toggle="tooltip" data-placement="top" title="Position of the peptide sequence in the protein sequence">Position ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" title="Method used to isolate the CTL recognizing the antigen">Lymphocyte Stimulation ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" data-html="true" title="First author and year of the article<br/>*Click on the text to display its complete information at the bottom<br/>(Scrolling the table will clear the reference information)<br/>*Click on the arrow icon to access to the pubmed URL">Reference ⓘ</th>
          <th>Full Reference</th>
          <th>Note</th>
          <th data-toggle="tooltip" data-placement="top" title="Hover on the icon to display the comments specific to the gene if there is any of them">Note ⓘ</th>
        </tr>
        </thead>
        <tbody>
        <% differentiations.forEach(function(peptide){ %>
        <tr>
          <td><% if(peptide.geneCard) {%>
            <b><a href="<%= peptide.geneCard %>" target="_blank"><%= peptide.gene%></a></b>
            <% } else {%>
            <b><%= peptide.gene %></b>
            <% } %><% if (peptide.newTag) {%>
            <img src="/images/new_icon.png"/>
            <% } %>
          </td>
          <td><%= peptide.tumor %>
            <% if (peptide.image) { %>
            <a href="/Peptide/details/<%= peptide.id %>" target="_blank"><img src="/images/rna_icon.png"/></a>
            <% } %>
          </td>
          <% if (peptide.hla.charAt(0) == 'D') {%>
          <td class="center_td"><span style="color:green"><%= peptide.hla %></span></td>
          <% } else { %>
          <td class="center_td"><%= peptide.hla %></td>
          <% } %>
          <td class="center_td"><%= peptide.freq %></td>
          <td><%= peptide.leftSequence %></td>
          <td class="center_td"><%= peptide.pos %></td>
          <td><%= peptide.stimulation %></td>
          <td id="ref_diff" class="ref_text"><u><%= peptide.reference %></u><a href="<%= peptide.url %>" target="_blank"><img src="/images/ext_link.png"/></a></td>
          <td><%= peptide.fullReference %></td>
          <td><%= peptide.comment %></td>
          <td class="comment-cell"><% if(peptide.comment) {%>
            <button class="btn btn-outline-secondary btn-sm oi oi-document" data-toggle="tooltip" data-placement="left" title='<%= peptide.comment %>'></button>
            <% } %>
          </td>
        </tr>
        <% })%>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="overexpressedTab">
      <table id="overexpressedTable" class="table-bordered" width="100%">
        <thead>
        <tr>
          <th data-toggle="tooltip" data-placement="top" title="Link to the Gene Card for the encoding gene and/or the parent protein">Gene/Protein ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" data-html="true" title="Expression was described in the following NORMAL tissues<br/>*Click on the RNA icon to see the expression">Normal/Tumor ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" data-html="true" title="Human leukocyte antigen <br/>Class II HLA are shown in green">HLA ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" data-html="true" title="Frequency in Caucasians, based on <br/>(1) Marsh SGE, Parham P, Barber LD. The HLA Factsbook (Academic Press, 2000) for HLA-A, B, C, and <br/>(2) Colombani J. HLA, Fonctions immunitaires et applications médicales (John Libbey Eurotext, 1993) for HLA-DP and DR">HLA% ⓘ</th>
          <th>Peptide Sequence</th>
          <th data-toggle="tooltip" data-placement="top" title="Position of the peptide sequence in the protein sequence">Position ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" title="Method used to isolate the CTL recognizing the antigen">Lymphocyte Stimulation ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" data-html="true" title="First author and year of the article<br/>*Click on the text to display its complete information at the bottom<br/>(Scrolling the table will clear the reference information)<br/>*Click on the arrow icon to access to the pubmed URL">Reference ⓘ</th>
          <th>Full Reference</th>
          <th>Note</th>
          <th data-toggle="tooltip" data-placement="top" title="Hover on the icon to display the comments specific to the gene if there is any of them">Note ⓘ</th>
        </tr>
        </thead>
        <tbody>
        <% overs.forEach(function(peptide){ %>
        <tr>
          <td><% if(peptide.geneCard) {%>
            <b><a href="<%= peptide.geneCard %>" target="_blank"><%= peptide.gene%></a></b>
            <% } else {%>
            <b><%= peptide.gene %></b>
            <% } %><% if (peptide.newTag) {%>
            <img src="/images/new_icon.png"/>
            <% } %>
          </td>
          <td><%= peptide.tumor %>
            <% if (peptide.image) { %>
            <a href="/Peptide/details/<%= peptide.id %>" target="_blank"><img src="/images/rna_icon.png"/></a>
            <% } %>
          </td>
          <% if (peptide.hla.charAt(0) == 'D') {%>
          <td class="center_td"><span style="color:green"><%= peptide.hla %></span></td>
          <% } else { %>
          <td class="center_td"><%= peptide.hla %></td>
          <% } %>
          <td class="center_td"><%= peptide.freq %></td>
          <td><%= peptide.leftSequence %></td>
          <td class="center_td"><%= peptide.pos %></td>
          <td><%= peptide.stimulation %></td>
          <td id="ref_over" class="ref_text"><u><%= peptide.reference %></u><a href="<%= peptide.url %>" target="_blank"><img src="/images/ext_link.png"/></a></td>
          <td><%= peptide.fullReference %></td>
          <td><%= peptide.comment %></td>
          <td class="comment-cell"><% if(peptide.comment) {%>
            <button class="btn btn-outline-secondary btn-sm oi oi-document" data-toggle="tooltip" data-placement="left" title='<%= peptide.comment %>'></button>
            <% } %>
          </td>
        </tr>
        <% })%>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="potentialTab">
      <table id="potentialTable" class="table-bordered" width="100%">
        <thead>
        <tr>
          <th data-toggle="tooltip" data-placement="top" title="Reference and link to the articles">Reference ⓘ</th>
          <th>comment</th>
          <th data-toggle="tooltip" data-placement="top" title="Hover on the icon to display the comments specific to the gene if there is any of them">Note ⓘ</th>
        </tr>
        </thead>
        <tbody>
        <% potentials.forEach(function(peptide){ %>
        <tr>
          <% if (peptide.url) {%>
          <td><a href="<%= peptide.url %>" target="_blank"><%= peptide.fullReference ? peptide.fullReference:'URL of the article' %></a>
            <% if (peptide.newTag) {%>
            <img src="/images/new_icon.png"/>
            <% } %>
          </td>
          <% } else { %>
          <td><%= peptide.fullReference %></td>
          <% } %>
          <td><%= peptide.comment %></td>
          <td class="comment-cell"><% if(peptide.comment) {%>
            <button class="btn btn-outline-secondary btn-sm oi oi-document" data-toggle="tooltip" data-placement="left" title='<%= peptide.comment %>'></button>
            <% } %>
          </td>
        </tr>
        <% })%>
        </tbody>
      </table>
    </div>
    <div>
      <p id="ref_zone" style="visibility: hidden;" class="padded-multiline"><span style="color:blue"><b>Selected reference:</b> <i><span class="fullref_text"></span></i></span></p>
    </div>
  </div>
</div>
<input id="min" style="display:none"><input id="max" style="display:none"><input id="freq_limit" style="display:none"><input id="length" style="display:none">


