<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.16/b-1.5.1/b-html5-1.5.1/b-print-1.5.1/fh-3.1.3/r-2.2.1/rg-1.0.2/sc-1.4.4/sl-1.2.5/datatables.min.js"></script>
<script src="/js/dataTables.rowsGroup.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<script>
  //Delay function to display the page
  function delay() {
    var secs = 0;
    setTimeout('initFadeIn()', secs);
  }

  //Turn the page visible
  function initFadeIn() {
    $("#div_body").css("visibility","visible");
    $("#div_body").fadeIn(700);
    $("#loading").remove();
  }
  function format ( d ) {
    var com = '<i>'+d[9]+'</i>';

    return '<i>Comment: '+com+'</i>';
  }


  $(document).ready(function(){

    delay();
    //setting the mutation datable
    var mutationTable = $('#mutationTable').DataTable({
      "sDom": '<"top"bl>rt<"bottom"ip><"clear">',
      "scrollX": true,
      "orderCellsTop": true,
      scrollY: '65vh',
      paging: false,
      scrollCollapse: true,
      headerOffset: 102,

      rowsGroup: [0,1],

      "order": [[ 0, "asc" ]],
      "columnDefs": [
        {
          "targets":[0,1,2,3,4,5,6,7,8,9,10],
          "sortable": false
        },
        {
          "targets": [ 8,9 ],
          "visible": false,
          "searchable": true
        },
        { "width": "10%", "targets": 0 },
        { "width": "20%", "targets": 1 },
        { "width": "5%", "targets": [2]},
        { "width": "6%", "targets": [3,5]},
        { "width": "15%", "targets": [4] },
        { "width": "20%", "targets": [6] },
        { "width": "5%", "targets": 10},

      ]
      }
    );

    $('#mutationTable .oi-document').on('click', function () {
      var tr = $(this).closest('tr');
      var row = mutationTable.row( tr );

      if ( row.child.isShown() ) {
        // This row is already open - close it
        row.child.hide();
        tr.removeClass('shown');
      }
      else {
        // Open this row
        row.child( format(row.data()) ).show();
        tr.addClass('shown');
      }
    } );

    //setting the tumor datatable
    var tumorTable = $('#tumorTable').DataTable({
      "sDom": '<"top"bl>rt<"bottom"ip><"clear">',
      "scrollX": true,
      "orderCellsTop": true,
      scrollY: '65vh',
      paging: false,
      scrollCollapse: true,
      headerOffset: 102,

      rowsGroup: [0, 1],
      "order": [[ 0, "asc" ]],
      "columnDefs": [
        {
          "targets":[0,1,2,3,4,5,6,7,8,9,10],
          "sortable": false
        },
        {
          "targets": [1,8,9 ],
          "visible": false,
          "searchable": true
        },

        { "width": "24%", "targets": [0,4]},
        { "width": "20%", "targets": 1 },
        { "width": "5%", "targets": [2]},
        { "width": "6%", "targets": [3,5]},
        { "width": "20%", "targets": [6] },
        { "width": "5%", "targets": 10},
      ]
      }
    );

    $('#tumorTable .oi-document').on('click', function () {
      var tr = $(this).closest('tr');
      var row = tumorTable.row( tr );

      if ( row.child.isShown() ) {
        // This row is already open - close it
        row.child.hide();
        tr.removeClass('shown');
      }
      else {
        // Open this row
        row.child( format(row.data()) ).show();
        tr.addClass('shown');
      }
    } );

    //setting the differentiation datatable
    var differentiationTable = $('#differentationTable').DataTable({
      "sDom": '<"top"bl>rt<"bottom"ip><"clear">',
      "scrollX": true,
      "orderCellsTop": true,
      scrollY: '65vh',
      paging: false,
      scrollCollapse: true,
      headerOffset: 102,
      rowsGroup: [0, 1],
      "order": [[ 0, "asc" ]],
      "columnDefs": [
        {
          "targets":[0,1,2,3,4,5,6,7,8,9,10],
          "sortable": false
        },
        {
          "targets": [8,9 ],
          "visible": false,
          "searchable": true
        },
        { "width": "10%", "targets": 0 },
        { "width": "20%", "targets": 1 },
        { "width": "5%", "targets": [2]},
        { "width": "6%", "targets": [3,5]},
        { "width": "15%", "targets": [4] },
        { "width": "20%", "targets": [6] },
        { "width": "5%", "targets": 10},
        ]
      }
    );

    $('#differentationTable .oi-document').on('click', function () {
      var tr = $(this).closest('tr');
      var row = differentiationTable.row( tr );

      if ( row.child.isShown() ) {
        // This row is already open - close it
        row.child.hide();
        tr.removeClass('shown');
      }
      else {
        // Open this row
        row.child( format(row.data()) ).show();
        tr.addClass('shown');
      }
    } );

    //setting the overexpressed datatable
    var overexpressedTable = $('#overexpressedTable').DataTable({
      "sDom": '<"top"bl>rt<"bottom"ip><"clear">',
      "scrollX": true,
      "orderCellsTop": true,
      scrollY: '65vh',
      paging: false,
      scrollCollapse: true,
      headerOffset: 102,
      rowsGroup: [0, 1],
      "order": [[ 0, "asc" ]],
      "columnDefs": [
        {
          "targets":[0,1,2,3,4,5,6,7,8,9,10],
          "sortable": false
        },
        {
          "targets": [8,9 ],
          "visible": false,
          "searchable": true
        },
        { "width": "10%", "targets": 0 },
        { "width": "20%", "targets": 1 },
        { "width": "5%", "targets": [2]},
        { "width": "6%", "targets": [3,5]},
        { "width": "15%", "targets": [4] },
        { "width": "20%", "targets": [6] },
        { "width": "5%", "targets": 10},
      ]
      }
    );

    $('#overexpressedTable .oi-document').on('click', function () {
      var tr = $(this).closest('tr');
      var row = overexpressedTable.row( tr );

      if ( row.child.isShown() ) {
        // This row is already open - close it
        row.child.hide();
        tr.removeClass('shown');
      }
      else {
        // Open this row
        row.child( format(row.data()) ).show();
        tr.addClass('shown');
      }
    } );

    //Setting the potential datatable
    var potentialTable = $('#potentialTable').DataTable({
      "sDom": '<"top"bl>rt<"bottom"ip><"clear">',
      "scrollX": true,
      "orderCellsTop": true,
      scrollY: '65vh',
      paging: false,
      scrollCollapse: true,
      "order": [[ 0, "asc" ]],
      "columnDefs": [
        {
          "targets":[2],
          "sortable": false
        },
        {
          "targets": [1],
          "visible": false,
        },
        { "width": "5%", "targets": [2] },
      ]
      }
    );

    //Function when a bootstrap tab is clicked
    $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
      //Adjusting width of the columns for the header for the visible table
      $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();

      //Adjusting the headers
      mutationTable.fixedHeader.adjust();
      tumorTable.fixedHeader.adjust();
      differentiationTable.fixedHeader.adjust();
      overexpressedTable.fixedHeader.adjust();
      potentialTable.fixedHeader.adjust();
    } );

    // read hash from page load and change tab
    var hash = document.location.hash;
    var prefix = "tab_";
    if (hash) {
      $('.nav-tabs a[href="'+hash.replace(prefix,"")+'"]').tab('show');
      setTimeout(function() {

        window.scrollTo(0, 0);
      }, 1);
    }

    $('[data-toggle="tooltip"]').tooltip();


  });
</script>

<br/>
<div id="loading">
  <p style="text-align:center">The tables are loading. Please wait.</p>
</div>
<div id="div_body" style="visibility: hidden">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" href="#mutationTab" role="tab" data-toggle="tab">Mutation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#tumorTab" role="tab" data-toggle="tab">Tumor-specific</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#differentiationTab" role="tab" data-toggle="tab">Differentiation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#overexpressedTab" role="tab" data-toggle="tab">Overexpressed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#potentialTab" role="tab" data-toggle="tab">Potential</a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active in" id="mutationTab">
      <table id="mutationTable" class="table cell-border" width="100%">
        <thead>
        <tr>
          <th data-toggle="tooltip" data-placement="top" title="Link to the Gene Card for the encoding gene and/or the parent protein">Gene/Protein ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" title="">Tumor ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" data-html="true" title="Human leukocyte antigen <br/>Class II HLA are shown in blue">HLA ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" data-html="true" title="Frequency in Caucasians, based on <br/>(1) Marsh SGE, Parham P, Barber LD. The HLA Factsbook (Academic Press, 2000) for HLA-A, B, C, and <br/>(2) Colombani J. HLA, Fonctions immunitaires et applications médicales (John Libbey Eurotext, 1993) for HLA-DP and DR">HLA% ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" title="The residues modified by the mutation are indicated in red">Peptide Sequence ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" title="Position of the peptide sequence in the protein sequence">Position ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" title="Method used to isolate the CTL recognizing the antigen">Lymphocyte Stimulation ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" title="PubMed link to the relevant reference">Reference ⓘ</th>
          <th>Full Reference</th>
          <th>Comment content</th>
          <th data-toggle="tooltip" data-placement="top" title="Hover on the icon to display the comments specific to the gene if there is any of them">Note ⓘ</th>
        </tr>
        </thead>
        <tbody>
        <% mutations.forEach(function(peptide){ %>
        <tr>
          <td><% if(peptide.geneCard) {%>
            <b><a href="<%= peptide.geneCard %>" target="_blank"><%= peptide.gene%></a></b>
            <% } else {%>
            <i><b><%= peptide.gene %></b></i>
            <% } %>
          </td>
          <td><%= peptide.tumor %></td>
          <% if (peptide.hla.charAt(0) == 'D') {%>
          <td class="center_td"><span style="color:blue"><%= peptide.hla %></span></td>
          <% } else { %>
          <td class="center_td"><%= peptide.hla %></td>
          <% } %>
          <td class="center_td"><%= peptide.freq %></td>
          <td><%= peptide.leftSequence %><span style="color:red"><%= peptide.redPart %></span><%= peptide.rightSequence %></td>
          <td class="center_td"><%= peptide.pos %></td>
          <td><%= peptide.stimulation %></td>
          <td class="ref_text"><%= peptide.reference %> <a href="<%= peptide.url %>" target="_blank"><img src="https://i.imgur.com/2bITRIZ.png"/></a></td>
          <td><%= peptide.fullReference %></td>
          <td><%= peptide.comment %></td>
          <td class="comment-cell"><% if(peptide.comment) {%>
            <button class="btn btn-outline-secondary btn-sm oi oi-document" data-toggle="tooltip" data-placement="left" title='<%= peptide.comment %>'></button>
            <% } %>
          </td>
        </tr>
        <% })%>
        </tbody>
      </table>
    </div>

    <div role="tabpanel" class="tab-pane" id="tumorTab">
      <table id="tumorTable" class="table cell-border" width="100%">
        <thead>
        <tr>
          <th data-toggle="tooltip" data-placement="top" title="Link to the Gene Card for the encoding gene and/or the parent protein">Gene/Protein ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" title="">Tumor ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" data-html="true" title="Human leukocyte antigen <br/>Class II HLA are shown in blue">HLA ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" data-html="true" title="Frequency in Caucasians, based on <br/>(1) Marsh SGE, Parham P, Barber LD. The HLA Factsbook (Academic Press, 2000) for HLA-A, B, C, and <br/>(2) Colombani J. HLA, Fonctions immunitaires et applications médicales (John Libbey Eurotext, 1993) for HLA-DP and DR">HLA% ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" title="The residues modified by the mutation are indicated in red">Peptide Sequence ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" title="Position of the peptide sequence in the protein sequence">Position ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" title="Method used to isolate the CTL recognizing the antigen">Lymphocyte Stimulation ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" title="PubMed link to the relevant reference">Reference ⓘ</th>
          <th>Full Reference</th>
          <th>Comment content</th>
          <th data-toggle="tooltip" data-placement="top" title="Hover on the icon to display the comments specific to the gene if there is any of them">Note ⓘ</th>
        </tr>
        </thead>
        <tbody>
        <% tumors.forEach(function(peptide){ %>
        <tr>
          <td><% if(peptide.geneCard) {%>
            <b><a href="<%= peptide.geneCard %>" target="_blank"><%= peptide.gene%></a></b>
            <% } else {%>
            <i><b><%= peptide.gene %></b></i>
            <% } %>
          </td>
          <td></td>
          <% if (peptide.hla.charAt(0) == 'D') {%>
          <td class="center_td"><span style="color:blue"><%= peptide.hla %></span></td>
          <% } else { %>
          <td class="center_td"><%= peptide.hla %></td>
          <% } %>
          <td class="center_td"><%= peptide.freq %></td>
          <td><%= peptide.leftSequence %></td>
          <td class="center_td"><%= peptide.pos %></td>
          <td><%= peptide.stimulation %></td>
          <td class="ref_text"><%= peptide.reference %> <a href="<%= peptide.url %>" target="_blank"><img src="https://i.imgur.com/2bITRIZ.png"/></a></td>
          <td><%= peptide.fullReference %></td>
          <td><%= peptide.comment %></td>
          <td class="comment-cell"><% if(peptide.comment) {%>
            <button class="btn btn-outline-secondary btn-sm oi oi-document" data-toggle="tooltip" data-placement="left" title='<%= peptide.comment %>'></button>
            <% } %>
          </td>
        </tr>
        <% })%>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="differentiationTab">
      <table id="differentationTable" class="table cell-border" width="100%">
        <thead>
        <tr>
          <th data-toggle="tooltip" data-placement="top" title="Link to the Gene Card for the encoding gene and/or the parent protein">Gene/Protein ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" title="">Tumor ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" data-html="true" title="Human leukocyte antigen <br/>Class II HLA are shown in blue">HLA ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" data-html="true" title="Frequency in Caucasians, based on <br/>(1) Marsh SGE, Parham P, Barber LD. The HLA Factsbook (Academic Press, 2000) for HLA-A, B, C, and <br/>(2) Colombani J. HLA, Fonctions immunitaires et applications médicales (John Libbey Eurotext, 1993) for HLA-DP and DR">HLA% ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" title="The residues modified by the mutation are indicated in red">Peptide Sequence ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" title="Position of the peptide sequence in the protein sequence">Position ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" title="Method used to isolate the CTL recognizing the antigen">Lymphocyte Stimulation ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" title="PubMed link to the relevant reference">Reference ⓘ</th>
          <th>Full Reference</th>
          <th>Comment content</th>
          <th data-toggle="tooltip" data-placement="top" title="Hover on the icon to display the comments specific to the gene if there is any of them">Note ⓘ</th>
        </tr>
        </thead>
        <tbody>
        <% differentiations.forEach(function(peptide){ %>
        <tr>
          <td><% if(peptide.geneCard) {%>
            <b><a href="<%= peptide.geneCard %>" target="_blank"><%= peptide.gene%></a></b>
            <% } else {%>
            <i><b><%= peptide.gene %></b></i>
            <% } %>
          </td>
          <td><%= peptide.tumor %></td>
          <% if (peptide.hla.charAt(0) == 'D') {%>
          <td class="center_td"><span style="color:blue"><%= peptide.hla %></span></td>
          <% } else { %>
          <td class="center_td"><%= peptide.hla %></td>
          <% } %>
          <td class="center_td"><%= peptide.freq %></td>
          <td><%= peptide.leftSequence %></td>
          <td class="center_td"><%= peptide.pos %></td>
          <td><%= peptide.stimulation %></td>
          <td class="ref_text"><%= peptide.reference %> <a href="<%= peptide.url %>" target="_blank"><img src="https://i.imgur.com/2bITRIZ.png"/></a></td>
          <td><%= peptide.fullReference %></td>
          <td><%= peptide.comment %></td>
          <td class="comment-cell"><% if(peptide.comment) {%>
            <button class="btn btn-outline-secondary btn-sm oi oi-document" data-toggle="tooltip" data-placement="left" title='<%= peptide.comment %>'></button>
            <% } %>
          </td>
        </tr>
        <% })%>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="overexpressedTab">
      <table id="overexpressedTable" class="table cell-border" width="100%">
        <thead>
        <tr>
          <th data-toggle="tooltip" data-placement="top" title="Link to the Gene Card for the encoding gene and/or the parent protein">Gene/Protein ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" title="">Tumor ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" data-html="true" title="Human leukocyte antigen <br/>Class II HLA are shown in blue">HLA ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" data-html="true" title="Frequency in Caucasians, based on <br/>(1) Marsh SGE, Parham P, Barber LD. The HLA Factsbook (Academic Press, 2000) for HLA-A, B, C, and <br/>(2) Colombani J. HLA, Fonctions immunitaires et applications médicales (John Libbey Eurotext, 1993) for HLA-DP and DR">HLA% ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" title="The residues modified by the mutation are indicated in red">Peptide Sequence ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" title="Position of the peptide sequence in the protein sequence">Position ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" title="Method used to isolate the CTL recognizing the antigen">Lymphocyte Stimulation ⓘ</th>
          <th data-toggle="tooltip" data-placement="top" title="PubMed link to the relevant reference">Reference ⓘ</th>
          <th>Full Reference</th>
          <th>Comment content</th>
          <th data-toggle="tooltip" data-placement="top" title="Hover on the icon to display the comments specific to the gene if there is any of them">Note ⓘ</th>
        </tr>
        </thead>
        <tbody>
        <% overs.forEach(function(peptide){ %>
        <tr>
          <td><% if(peptide.geneCard) {%>
            <b><a href="<%= peptide.geneCard %>" target="_blank"><%= peptide.gene%></a></b>
            <% } else {%>
            <i><b><%= peptide.gene %></b></i>
            <% } %>
          </td>
          <td><%= peptide.tumor %></td>
          <% if (peptide.hla.charAt(0) == 'D') {%>
          <td class="center_td"><span style="color:blue"><%= peptide.hla %></span></td>
          <% } else { %>
          <td class="center_td"><%= peptide.hla %></td>
          <% } %>
          <td class="center_td"><%= peptide.freq %></td>
          <td><%= peptide.leftSequence %></td>
          <td class="center_td"><%= peptide.pos %></td>
          <td><%= peptide.stimulation %></td>
          <td class="ref_text"><%= peptide.reference %> <a href="<%= peptide.url %>" target="_blank"><img src="https://i.imgur.com/2bITRIZ.png"/></a></td>
          <td><%= peptide.fullReference %></td>
          <td><%= peptide.comment %></td>
          <td class="comment-cell"><% if(peptide.comment) {%>
            <button class="btn btn-outline-secondary btn-sm oi oi-document" data-toggle="tooltip" data-placement="left" title='<%= peptide.comment %>'></button>
            <% } %>
          </td>
        </tr>
        <% })%>
        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="potentialTab">
      <table id="potentialTable" class="table cell-border" width="100%">
        <thead>
        <tr>
          <th data-toggle="tooltip" data-placement="top" title="Reference and link to the articles">Reference ⓘ</th>
          <th>comment</th>
          <th data-toggle="tooltip" data-placement="top" title="Hover on the icon to display the comments specific to the gene if there is any of them">Note ⓘ</th>
        </tr>
        </thead>
        <tbody>
        <% potentials.forEach(function(peptide){ %>
        <tr>
          <% if (peptide.url) {%>
          <td><a href="<%= peptide.url %>" target="_blank"><%= peptide.fullReference %></a></td>
          <% } else { %>
          <td><%= peptide.fullReference %></td>
          <% } %>
          <td><%= peptide.comment %></td>
          <td class="comment-cell"><% if(peptide.comment) {%>
            <button class="btn btn-outline-secondary btn-sm oi oi-document" data-toggle="tooltip" data-placement="left" title='<%= peptide.comment %>'></button>
            <% } %>
          </td>
        </tr>
        <% })%>
        </tbody>
      </table>
    </div>
  </div>
</div>
<input id="min" style="display:none"><input id="max" style="display:none"><input id="freq_limit" style="display:none"><input id="length" style="display:none">


