
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.10.16/b-1.5.1/b-html5-1.5.1/b-print-1.5.1/fh-3.1.3/r-2.2.1/rg-1.0.2/sc-1.4.4/sl-1.2.5/datatables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="/js/afnFiltering.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>

<script>
  //Turn the page visible
  function initFadeIn() {
    $("#div_body").css("visibility","visible");
    $("#div_body").fadeIn(700);
    $("#loading").remove();
  }

  $(document).ready(function(){
    //Create the color bar for the navigation cue and make the page visible
    document.getElementById("table-container").style.borderLeft = "thick solid #D40000";
    initFadeIn();


    //setting the general table
    var generalTable = $('#generalTable').DataTable({
      dom: "<'row'>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-6'><'col-sm-1'B>>",
      "scrollX": true,
      "orderCellsTop": true,
      scrollY: '65vh',
      paging: false,
      scrollCollapse: true,
      headerOffset: 102,
      "orderFixed": [ 11, 'asc' ],
      "order": [[ 11, "asc" ], [ 0, "asc" ]],
      buttons: [
        {
          extend: 'pdf',
          text: 'Save as PDF',
          exportOptions: {
            modifier: {
              page: 'current'
            },

            columns: [0,1,2,3,4,5,6,8,9]
          },
          orientation: 'landscape'
        }
      ],
      "columnDefs": [
        {
          "targets":[10],
          "sortable": false
        },

        { "type": "num", "targets": 3 },

        {
          "targets": [ 8,9, 11 ],
          "visible": false,
          "searchable": true
        },
        { "orderData": [ 11, 0 ],    "targets": 0 },
        { "orderData": [ 11, 1 ],    "targets": 1 },
        { "orderData": [ 11, 2 ],    "targets": 2 },
        { "orderData": [ 11, 3 ],    "targets": 3 },
        { "orderData": [ 11, 4 ],    "targets": 4 },
        { "orderData": [ 11, 5 ],    "targets": 5 },
        { "orderData": [ 11, 6 ],    "targets": 6 },
        { "orderData": [ 11, 7 ],    "targets": 7 },
        { "width": "10%", "targets": 0 },
        { "width": "6%", "targets": 3 },
        { "width": "20%", "targets": 1 },
        { "width": "5%", "targets": [2,5]},
        { "width": "5%", "targets": 10},
        { "width": "15%", "targets": [4,6] }
      ],

      /*
      //Add category class for the row
      "createdRow": function( row, data, dataIndex ) {
        if ( data[12] == 0 ) {
          $(row).addClass( 'mutarion_row' );
        } else if ( data[12] == 1 ) {
          $(row).addClass( 'tumor_row' );
        } else if ( data[12] == 2 ) {
          $(row).addClass( 'diff_row' );
        } else {
          $(row).addClass( 'over_row' );
        }
      },

      //change row color based on the peptide type. Striped style.
      "rowCallback": function( nRow, aData, index ) {
        if ( aData[12] == 0 )
        {
          if (index%2 == 0){
            $('td', nRow).css('background-color', '#FFF4F4');
          }else{
            $('td', nRow).css('background-color', '#FFECEC');
          }
        }
        else if ( aData[12] == 1 )
        {
          if (index%2 == 0){
            $('td', nRow).css('background-color', '#FDFFE9');
          }else{
            $('td', nRow).css('background-color', '#FEF8CB');
          }
        }
        else if ( aData[12] == 2 )
        {
          if (index%2 == 0){
            $('td', nRow).css('background-color', '#F0F8FF');
          }else{
            $('td', nRow).css('background-color', '#DCEEFF');
          }
        }
        else if ( aData[12] == 3 )
        {
          if (index%2 == 0){
            $('td', nRow).css('background-color', '#F7FFE1');
          }else{
            $('td', nRow).css('background-color', '#EAFFD6');
          }
        }
      },*/


      //Create the category row, done every time the datatable is drawn
      "drawCallback": function () {
        var api = this.api();
        var rows = api.rows( {page:'current'} ).nodes();
        var last= null;
        var colors = ["color:red","color:orange","color:green","color:blue"];
        var group_label = ["1. Mutation","2. Tumor-Specific","3. Differentiation","4. Overexpressed"];
        var color_attr = ["#DC3546","#FEC107","#27A844","#007AFF"];

        api.column(11, {page:'current'} ).data().each( function ( group, i ) {
          if ( last !== group) {
            $(rows).eq( i ).before(
              '<tr class="group" id="section'+(group)+'" color_attr='+color_attr[group]+'><td colspan="10"><span style='+colors[group]+'>'+group_label[group]+'</td></tr>'
            );
            last = group;
          }
        });
      }
    });


    //setting the potential table
    var potentialTable = $('#potentialTable').DataTable({
      dom: "<'row'>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-6'i><'col-sm-6'>>",
      "scrollX": true,
      "orderCellsTop": true,
      scrollY: '65vh',
      paging: false,
      scrollCollapse: true,
      headerOffset: 102,
      "order": [ 0, "asc" ],
      "columnDefs": [
        {
          "targets": [1],
          "visible": false,
        },
        { "width": "5%", "targets": 2 }
      ]
    });


    //Event listener: display full reference when a reference is clicked by the user
    $('.ref_text').on('click', function () {
      var tr = $(this).closest('tr');
      var row = generalTable.row( tr );
      var data = row.data();

      if (data[8] !== ''){
        $('#fullref_text').text(data[8]);
        document.getElementById("ref_zone").style.visibility = 'visible';
      }
    });


    //Prevents sorting when clicking on a input field
    $('.filter').on('click', function(e){
      e.stopPropagation();
    });


    //Event listener: any key input in the column filter except HLA
    $('input.column_filter').on( 'keyup', function () {
      //Allow the use of * as wildcard; [ and ] instead of ^ and $ as delimiters
      var string = $(this).val().replace(/\*/g,'.').replace(/\[/g,'^').replace(/\]/g,'$');

      generalTable
        .columns($(this).attr('data-column'))
        .search(string,true,false,true)
        .draw();
    });


    //Event listener: any key input in HLA filter (HLA must match completely the letters of the search)
    $('input.hla_filter').on( 'keyup', function () {
      var string = "";
      if ($(this).val() !== ""){
        string = "^" + $(this).val() + "$"
      }
      generalTable
        .columns($(this).attr('data-column'))
        .search(string,true,false,true)
        .draw();
    });


    //Event listener: any key input in the potential table filter
    $('#potential_column_filter').on( 'keyup', function () {
      //Allow the use of * as wildcard; [ and ] working like ^ and $ as regex delimiters
      var string = $(this).val().replace(/\*/g,'.').replace(/\[/g,'^').replace(/\]/g,'$');

      potentialTable
        .columns(0)
        .search(string,true,false,true)
        .draw();
    });


    //Event listener: redraw the table when there is a range input
    $('.range').keyup( function() {
      generalTable.draw();
    });


    //Event listener for the navbar buttons: change the colored nv
    $(".sectionbtn").click( function() {
      var selection;
      $('.sectionbtn').removeClass("active");

      switch(this.id){
        case "section0btn":
          $('#section0btn').addClass("active");
          selection = $( "#section0" );
          break;

        case "section1btn":
          $('#section1btn').addClass("active");
          selection = $( "#section1" );
          break;

        case "section2btn":
          $('#section2btn').addClass("active");
          selection = $( "#section2" );
          break;

        case "section3btn":
          $('#section3btn').addClass("active");
          selection = $( "#section3" );
      }
      $(".dataTables_scrollBody").scrollTo(selection);
    });


    //Event listener: scroll to the potential table
    $('#section4btn').click(function () {
      $('html, body').animate({
        scrollTop: $("#potentialSection").offset().top
      }, 200);
    });


    //Event listener: change category button highlight and navigation bar color upon table scrolling
    $(".dataTables_scrollBody").on('scroll', function() {
      //Hide full reference when scrolling
      document.getElementById("ref_zone").style.visibility = 'hidden';
      $('.group').each(function(){
        var sectionDistance = $(this).offset().top;
        if (sectionDistance < 550){
          $('.sectionbtn').removeClass("active");
          $('#'+this.id+'btn').addClass("active");
          document.getElementById("table-container").style.borderLeft = "thick solid "+$(this).attr('color_attr');
        }
      });
    });


    //Apply Bootstrap tooltip style
    $('[data-toggle="tooltip"]').tooltip();
  });

</script>
<div id="loading">
  <p style="text-align:center">Loading... Please wait.</p>
</div>
<!-- Initial setup of the page -->
<div id="div_body" style="visibility: hidden">

  <!-- Category navigation bar -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbar_category">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a id="section0btn" class="btn btn-sm btn-outline-danger sectionbtn">Mutation</a>
        </li>
        <li class="nav-item" >
          <a id="section1btn" class="btn btn-sm btn-outline-warning sectionbtn">Tumor Specific</a>
        </li>
        <li class="nav-item">
          <a id="section2btn" class="btn btn-sm btn-outline-success sectionbtn">Differentiation</a>
        </li>
        <li class="nav-item">
          <a id="section3btn" class="btn btn-sm btn-outline-primary sectionbtn">Overexpressed</a>
        </li>
        <li class="nav-item">
          <a id="section4btn" class="btn btn-sm btn-outline-secondary">Potential</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- General Table -->
  <div id="table-container">
    <table id="generalTable" class="table-bordered" width="100%">
      <thead>
      <tr>
        <th data-toggle="tooltip" data-placement="top" title="Link to the Gene Card for the encoding gene and/or the parent protein">Gene/Protein ⓘ<br><input class="filter column_filter gene_filter" type="text" data-column="0" /></th>
        <th data-toggle="tooltip" data-placement="top" title="">Tumor ⓘ<br><input class="filter column_filter tumor_filter" type="text" data-column="1" /></th>
        <th data-toggle="tooltip" data-placement="top" data-html="true" title="Human leukocyte antigen <br/>Class II HLA are shown in blue">HLA ⓘ<br><input class="filter hla_filter" type="text" data-column="2" /></th>
        <th data-toggle="tooltip" data-placement="top" data-html="true" title="Frequency in Caucasians, based on <br/>(1) Marsh SGE, Parham P, Barber LD. The HLA Factsbook (Academic Press, 2000) for HLA-A, B, C, and <br/>(2) Colombani J. HLA, Fonctions immunitaires et applications médicales (John Libbey Eurotext, 1993) for HLA-DP and DR">HLA% ⓘ<br>min <input id="freq_limit" class="filter freq_filter range" type="text" data-column="3" /></th>
        <th><table id="seq_table" class="borderless"><th width="65%"><span data-toggle="tooltip" data-placement="top" title="The residues modified by the mutation are indicated in red">Peptide Sequence ⓘ</span><input class="filter column_filter seq_filter" type="text" data-column="4" /></th><th><span data-toggle="tooltip" data-placement="top" title="Select a specific range of peptide sequences with a minimum and maximum length">Length ⓘ</span> <br><input class="filter range" id="min"> - <input class="filter range" id="max"></th></table></th>
        <th data-toggle="tooltip" data-placement="top" title="Position of the peptide sequence in the protein sequence">Position ⓘ<br><input class="filter column_filter pos_filter" type="text" data-column="5" /></th>
        <th data-toggle="tooltip" data-placement="top" title="Method used to isolate the CTL recognizing the antigen">Lymphocyte Stimulation ⓘ<br><input class="filter column_filter sim_filter" type="text" data-column="6" /></th>
        <th data-toggle="tooltip" data-placement="top" title="URL to the relevant reference">Reference ⓘ <br><input class="filter column_filter ref_filter" type="text" data-column="7" /></th>
        <th>Full Reference</th>
        <th>Comment</th>
        <th data-toggle="tooltip" data-placement="top" title="Hover on the icon to display the comments specific to the gene if there is any of them">Note ⓘ</th>
        <th>Type</th>
      </tr>
      </thead>
      <tbody>
      <% peptides.forEach(function(peptide){ %>
      <tr>
        <td><% if(peptide.geneCard) {%>
          <b><a href="<%= peptide.geneCard %>" target="_blank"><%= peptide.gene%></a></b>
          <% } else {%>
          <i><b><%= peptide.gene %></b></i>
          <% } %>
        </td>
        <td><%= peptide.tumor %></td>
        <% if (peptide.hla.charAt(0) == 'D') {%>
        <td class="center_td"><span style="color:blue"><%= peptide.hla %></span></td>
        <% } else { %>
        <td class="center_td"><%= peptide.hla %></td>
        <% } %>
        <td class="center_td"><%= peptide.freq %></td>
        <td><%= peptide.leftSequence %><span style="color:red"><%= peptide.redPart %></span><%= peptide.rightSequence %></td>
        <td class="center_td"><%= peptide.pos %></td>
        <td><%= peptide.stimulation %></td>
        <td class="ref_text"><%= peptide.reference %> <a href="<%= peptide.url %>" target="_blank"><img src="/images/ext_link.png"/></a></td>
        <td><%= peptide.fullReference %></td>
        <td><%= peptide.comment %></td>
        <td class="comment-cell"><% if(peptide.comment) {%>
          <button class="btn btn-outline-secondary btn-sm oi oi-document" data-toggle="tooltip" data-placement="left" title='<%= peptide.comment %>'></button>
          <% } %>
        </td>
        <td>
          <% if (peptide.type == "mutation") { %>
          0
          <% } else if (peptide.type == "tumor") { %>
          1
          <% } else if (peptide.type == "differentiation") { %>
          2
          <% } else if (peptide.type == "overexpressed") { %>
          3
          <% } else { %>
          4
          <% } %>
        </td>
      </tr>
      <% })%>
      </tbody>
    </table>
    <div>
      <p id="ref_zone" style="visibility: hidden;" class="padded-multiline"><b>Full Reference of the selected peptide:</b> <i><span id="fullref_text"></span></i></p>
    </div>
  </div>
  <br/>
  <hr>
  <br/>
  <!-- Potential Table -->
  <div>
    <a id="potentialSection"></a>
    <table id="potentialTable" class="table-bordered" width="100%">
      <thead>
      <tr>
        <th data-toggle="tooltip" data-placement="top" title="Reference and link to the articles">Reference ⓘ <br><input id="potential_column_filter" class="filter ref_filter" type="text" /></th>
        <th>comment</th>
        <th data-toggle="tooltip" data-placement="top" title="Hover on the icon to display the comments specific to the gene if there is any of them">Note ⓘ</th>
      </tr>
      </thead>
      <tbody>
      <% potentials.forEach(function(peptide){ %>
      <tr>
        <td><a href="<%= peptide.url %>" target="_blank"><%= peptide.fullReference ? peptide.fullReference:'URL to the article' %></a></td>
        <td><%= peptide.comment ? peptide.comment:'' %></td>
        <td class="comment-cell"><% if(peptide.comment) {%>
          <button class="btn btn-outline-secondary btn-sm oi oi-document" data-toggle="tooltip" data-placement="left" title='<%= peptide.comment %>'></button>
          <% } %>
        </td>
      </tr>
      <% })%>
      </tbody>
    </table>
    <br/>
    <hr>
    <br/>
    <p style="text-align:center">Did you find an article that isn't present in the database? <a href="/Peptide/submit"><b>Please let us know.</b></a></p>
  </div>
</div>
